<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "description" content = "LASS PM2.5 Sensor Data Viewer">
    </head>
    <div class = "app-homepage">
        <div class = "header">
            <h1 class = "title">LASS PM2.5 Data Viewer</h1>
        </div>
        <Br>
        <div align = "center">
            <form action = "/search" method = "GET">
                <input class = "sensor-search" placeholder = "Device ID Example: 08BEAC0AB33C">
                <button class = "submit-sensor-search">Search</button>
            </form>
        </div>
    </div>
</html>